
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
.timeAxisItem_content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.timeAxisItem_content:after {
  content: "";
  display: table;
  clear: both;
}
.timeAxisItem_content h2 {
  color: #303e49;
}
.timeAxisItem_content p, .timeAxisItem_content .timeAxisItem_content_date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.timeAxisItem_content .timeAxisItem_content_date {
  display: inline-block;
}
.timeAxisItem_content p {
  margin: 1em 0;
  line-height: 1.6;
}
.timeAxisItem_content .timeAxisItem_content_date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.timeAxisItem_content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .timeAxisItem_content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .timeAxisItem_content p {
    font-size: 16px;
    font-size: 1rem;
  }
 .timeAxisItem_content .timeAxisItem_content_date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .timeAxisItem_content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .timeAxisItem_content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .timeAxisItem_content .timeAxisItem_content_date {
    position: absolute;
    width: 100%;
    left: 120%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
    color: white;
  }
  .timeAxisItem:nth-child(even) .timeAxisItem_content {
    float: right;
  }
  .timeAxisItem:nth-child(even) .timeAxisItem_content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .timeAxisItem:nth-child(even) .timeAxisItem_content .timeAxisItem_content_date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .timeAxisItem_content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .timeAxisItem_content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .timeAxisItem:nth-child(even) .timeAxisItem_content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}